<h2>Books</h2>
  <table class="">
    <thead>
      <tr>
        <th></th><th>Title</th><th>Opinion</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
      <tr>
        <td><%= image_tag book.user.get_profile_image(100,100), class:""; %></td>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
      </tr>
      <% end %>
    </tbody>
  </table>